*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: arial;
  font-size: 17px;
  background-color: #dcdcdc;
  color: #dcdcdc;
  line-height: 1.6;
}

/* fullscreen background image (first 4 row) */
#showcase{
  background-image: url(cameras.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
}

#showcase h1{
  font-size: 50px;
  line-height: 1.2;
}

#showcase p{
  font-size: 25px;
}

#showcase .button{
  font-size: 18px;
  text-decoration: none;
  color: #dcdcdc;
  border: #dcdcdc 2px solid;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 20px
}

#showcase .button:hover{
  background: #dcdcdc;
  color: #926239;
}
