/*
*{
    margin: 0em;
    padding: 0em;
}
stands above other commands and includes everything
*/
   
body{
    background-color: #4f4f4f;
    color: hotpink;

    font-family: sans-serif;
    font-size: 15px;
    font-weight: italic;
    /*short version*/
    font: italic 15px sans-serif;

    line-height: 1.5em; 
     /*other way - px, 1 em = 16 px.*/
    margin:0;
}

.container{
    width: 80%;  /*px or % (%- adjast with tab size)*/
    margin: auto;
}

.box-1{
    background-color: rgb(40, 13, 59);
    color: rgb(14, 98, 131);

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-bottom: 5px red solid;
    border-top: 5pc red solid;
    /*shorter version (if you want every border same)*/
    border: 5px red solid;

    border-width: 10px; /*dont specify if you want all borders same width etc*/

    border-top-style: dotted;
    border-left-style: groove;
    border-right-style: dashed;
    border-bottom-style: double;

    padding: 20px;

    margin: 20px 0px;
}

.box-1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}