body{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 15px;
    line-height: 250%;
    padding: 0;
    margin: 0;
    background-color: #f9c2bf;
    color: #ffffff;

}

/* golbal */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.button_1{
    height: 40px;
    background: #d6756e;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
}

.button_1:hover{
    color: #d6756e;
    background-color: #ffffff;
}

.pink{
    padding: 15px;
    background: #ec9e9a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* header */
header{
    background-color: #d6756e;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: 70px;
}

header h1{
    font-size: 50px;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

header li{
    display: inline;
    padding: 0 20px 0 20px;
}

header #head{
    float: left;
}

header #head_h1{
    margin-left: 100px;
    float: left;
}

header nav{
    float: right;
    margin-top: 20px;
    margin-right: 150px;
}

header .highlight{
    color: #f9c2bf;
    font-weight: bold;
}

header .current a{
    color: #ec9e9a;
}

header a:hover{
    color: #f9c2bf;
    font-weight: bold;
}

/* newsletter */
#newsletter{
    padding: 5px;
    color: #ffffff;
    background: #ec9e9a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 20px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 32px;
    width: 250px;
    background-color: #f9c2bf;
    color: #ffffff;
    border: none;

}

/* Photos project page */
.content{
    width: 40%;
    margin-top: 150px;
    margin-right: 50px;
    color: #d6756e;
    text-align: center;
    float: right;
    border: 5px #ffffff dotted;
}

.photo_main{
    width: 500px; 
    min-width: 300px; 
    height:700px; 
    margin-top: 20px;
    border: 5px #ffffff solid;
}

/* fotter */
footer{
    text-align: center;
}